<!-- blog_app/templates/blog_app/sidebar/account.html -->

{% extends 'blog_app\sidebar\base_account.html' %}


{% block content %}
    <div class="container">
        <div class="column column1">
            <h2>User information</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <div class="more-inf">
                <hr>
                <h2>Posts</h2>
                <p class="transition-btn" onclick="location.href='{% url 'posts_filter' filter_by='username' value=user.id %}'">Number of posts: {{ posts_count }}</p>
                <p class="transition-btn" onclick="location.href='{% url 'posts_filter' filter_by='bookmark' value=user.id %}'">Number of bookmarks: {{ bookmarked_count }}</p>
                <p class="transition-btn" onclick="location.href='{% url 'posts_filter' filter_by='favorite' value=user.id %}'">Number of favorites: {{ fav_count }}</p>
                <br>
                {% if request.user == user %}
                <a class="modify-apply-btn" 
                    href="{% url 'parameters' %}">
                    Modify
                </a>
                {% endif %}
            </div>
        </div>
        <div class="column column2">
            <h2>User description</h2>
            <p>{{ user.description|linebreaksbr }}</p>
        </div>
    </div>

    
{% endblock %}