<!-- blog_app/templates/blog_app/login.html -->
{% extends 'base.html' %}

<head>
    {% load static %}
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static 'blog_app/login-register.css' %}>
    {% endblock stylesheet %}
</head>
<body>
    {% block index %}
    {% include 'nav.html' %}
    <div class="login-page">
        <div class="interface">
            <h2>Login</h2>
            <form action="" method="post" class="form_user">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login" id="login-btn">
            </form>
            <div id="create-account">
                <p>Not registered yet?</p>
                <a onclick="location.href='{% url "register" %}'">
                    Create an account
                </a>
            </div>
            <a onclick="location.href='{% url "index" %}'">
                Cancel
            </a>
        </div>
    </div>
    {% include 'footer.html' %}
    {% endblock index %}
</body>



