<!-- blog/blog_app/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/47fdd051ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href={% static 'blog_app/base.css' %}>
    {% block stylesheet %}

    {% endblock stylesheet %}
    <title>Blog</title>
</head>
<body id="page">
    
    

    

    <div>
    {% block index %}
    missing block index
    {% endblock index %}
    </div>

    

    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (e) => {
            e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })

        document.addEventListener('click', function(event) {
            var searchInput = document.querySelector('.search-input');
            var searchReco = document.querySelector('#search-recommandations');
            var containerSearchReco = document.querySelector('#container-search-recommandations');
            if (!searchReco.contains(event.target) && !containerSearchReco.contains(event.target) && !searchInput.contains(event.target)) {
                searchReco.style.display = 'none';
            }
            if(searchInput.contains(event.target)){
                searchReco.style.display = 'block';
            }
        });

        const logoutButton = document.getElementById('logout-btn');
      
        logoutButton.addEventListener('click', () => {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/logout/');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onload = () => {
            if (xhr.status === 200) {
                location.reload();
            }
            };
            xhr.send();
        });

        
    </script>
    <script src="{% static '/blog_app/app.js' %}"></script>
    {% block script %}

    {% endblock script %}
</body>

