<!-- blog_app/templates/top_page.html -->

<!-- charge le dossier static, se place dans le dossier static -->
{% load static %}
<section class="top-page">
    <div class="landing-page">
        <div class="top-landing-page">
            <img src="{% static 'images/logos/burgerlogo.png' %}" alt="logo">
            <h2 class="landing-page-title">
                TITLE
            </h2>    
        </div>
        <div class="social-media">
            <i class="fa-brands fa-twitter transition-btn"></i>
            <i class="fa-brands fa-instagram transition-btn"></i>
            <i class="fa-brands fa-tiktok transition-btn"></i>
            <i class="fa-brands fa-discord transition-btn"></i>
        </div>
    </div>
</section>
