<!-- blog_app/templates/blog_app/aboutus.html -->

{% extends 'base.html' %}

{% load static %}

<head>
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static 'blog_app/about_us.css' %}>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    {% endblock stylesheet %}
</head>

<body>
    {% block index %}
    {% include 'top_page.html' %}
    {% include 'nav.html' %}

    <section id="hero">
        <h1 class="hero-title">A Hobby and a passion...</h1>
        <div class="hero-img">
            <img src="../../static/images/media/posts_images/burger-dessin.jpg" width="128" height="128">
        </div>
    </section>

    <section id="content">
        <div class="content-text">
            <h2>...which has become a Job!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium in culpa distinctio ea asperiores id consequuntur minus, consectetur non, quasi modi voluptatem ratione nisi cupiditate autem aliquid rerum dolorum similique.
            </p>
        </div>
        <div class="content-img">
            <img src="../../static/images/media/posts_images/platter.jpg" width="128" height="128">
        </div>
    </section>

    <section id="cta">
        <h2 class="cta-title">For more information</h2>
        <button onclick="location.href='{% url 'contact_view' %}'" id="cta-btn">Contact us</button>
    </section>

    {% include 'footer.html' %}
    {% endblock index %}
</body>
