<!-- blog/blog_app/templates/blog_app/contact.html -->
{% extends 'base.html' %}

{% load static %}

<html>

<head>
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static 'blog_app/contact.css' %}>
    {% endblock stylesheet %}
</head>


<body>
    {% block index %}
    {% include 'top_page.html' %}
    {% include 'nav.html' %}
    <div id="contact-interface">
        <h1>Contact Page</h1>
        <form action="" method="POST" id="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send" id="send-btn">
        </form>
    </div>
    {% include 'footer.html' %}
    {% endblock index %}
</body>

</html>



