<!-- blog/blog_app/tempaltes/blog_app/post.html -->
{% extends 'base.html' %}

{% load static %}

<head>
    {% load static %}
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "blog_app/post.css" %}>
    {% endblock stylesheet %}
</head>
<body>
    {% block index %}

    <div id="write-page">
        <div class="post-page">
            <h2>Créez votre post</h2>
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" value="Créer le post">
            </form>
            <a href="#" onclick="location.href='{% url "index" %}'">
                Retour
            </a>
        </div>
        

        {% for post in posts %}
        post:
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.date }}</p>
            <p>{{ post.username }}</p>
            <p>{{ post.categorie }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock index %}
</body>

{% load static %}

<link href="{% static 'ckeditor/ckeditor.css' %}" rel="stylesheet">
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor-init.js' %}"></script>
<script>
    function adjustHeight(el) {
      el.style.height = "auto";
      el.style.height = (el.scrollHeight)+"px";
    }
    
    document.addEventListener("DOMContentLoaded", function() {
      var textareas = document.querySelectorAll("textarea");
      textareas.forEach(function(textarea) {
        adjustHeight(textarea);
        textarea.addEventListener("input", function() {
          adjustHeight(this);
        });
      });
    });
</script>
