<!-- blog/blog_app/tempaltes/blog_app/display_piost.html -->

{% extends 'base.html' %}

<head>
    {% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog_app/post_detail.css' %}">
    {% endblock stylesheet %}
</head>

<body>
    {% block index %}
    {% include 'top_page.html' %}
    {% include 'nav.html' %}
    <div class="contents">
        
        
        <div class="main-content">
            <div class="content">
                
                <div class="banner">
                    <h1>{{ post.title }}</h1>
                    <div class="post-info">
                        <span>by {{ post.user_id.username }}</span>
                        <span class="date">{{ post.date }}</span>
                        <span class="category">{{ post.categorie }}</span>
                    </div>
                  </div>
                <br>
                <div class="post-img" style="background-image: url('{{ MEDIA_URL }}{{ post.image.url }}');">
                </div>
                <br>
                <br>
                <div class="content">{{ post.content|safe }}</div>
                <div class="icons">
                    {% include "blog_app/favori_btn.html" %}
                    {% include "blog_app/bookmark_btn.html" %}
                </div>
            </div>
            {% include "blog_app/comments.html" with pk=post.id|default_if_none:'' %}
        </div>

        <div class="more">
            <div class="box-user-profil-btn">
                <h2><a href="{% url 'account' user_id=post.user_id.id %}">see {{ post.user_id.username }}'s profil</a></h2>
            </div>
            <div class="more-posts">
                <h2>more from {{ post.user_id.username }}</h2> 
                <hr>
                <div class="more-posts-grid">
                    {% for post in by_username|slice:":2" %}
                        <div class="post">
                            <div class="post-img img-zoom" 
                                style="background-image: url('{{ MEDIA_URL }}{{ post.image.url }}');"
                                onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                            </div>
                            <div class="post-description"
                                onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                                <a href="{% url 'posts_filter' filter_by='username' value=post.user_id.id %}" class="author transition-btn">
                                    {{ post.user_id.username }}
                                </a>
                                <div class="description-text"
                                    onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                                    {{ post.title|safe }}
                                </div>
                            </div>
                            <div class="icons boutons">
                                {% include "blog_app/favori_btn.html" %}
                                {% include "blog_app/bookmark_btn.html" %}
                            </div>
                            <div class="vide" onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                                
                            </div>
                        </div>      
                    {% endfor %}
                </div>
            </div>

            <div class="more-posts">
                <h2>{{ post.categorie }}</h2> 
                <hr>
                <div class="more-posts-grid">
                    {% for post in by_categorie|slice:":2" %}
                        
                            <div class="post">
                                <div class="post-img img-zoom" 
                                    style="background-image: url('{{ MEDIA_URL }}{{ post.image.url }}');"
                                    onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                                </div>
                            <div class="post-description">
                                <a href="{% url 'posts_filter' filter_by='username' value=post.user_id.id %}" class="author transition-btn">
                                    {{ post.user_id.username }}
                                </a>
                                <div class="description-text"
                                    onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                                    {{ post.title|safe }}
                                </div>
                            </div>
                            <div class="icons boutons">
                                {% include "blog_app/favori_btn.html" %}
                                {% include "blog_app/bookmark_btn.html" %}
                            </div>
                            <div class="vide" onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                                
                            </div>
                        </div>
                        
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
        
    {% include 'footer.html' %}
    {% endblock index %}

    {% block script %}
    <script>

        var contents = document.querySelector(".contents");
        var content = document.querySelector(".content");
        var mainContent = document.querySelector(".main-content");
        console.log("mainContent: ",mainContent.clientHeight)
        console.log("content: ",content.clientHeight)
        // console.log("mainContent + content: ",mainContent.clientHeight + content.clientHeight)

        var height = mainContent.clientHeight;
        console.log("height: ",height)
        console.log("contents: ",contents.clientHeight)
        contents.style.height = height + "px";

    </script>
    {% endblock script %}
</body>



