<!-- blog_app/templates/blog_app/search_recommandations.html -->

{% if results %}

    {% csrf_token %}
    <ul id="list">
        <!-- slice:":10", en récuppère que 10 -->
        {% for result in results|slice:":10" %}
            <li class="result" onclick="location.href='{% url 'post_detail' pk=result.id user_id=result.user_id categorie=result.categorie %}'">
                {{ result.title }}
            </li>
        {% endfor %}
        {% for user in users|slice:":10" %}
            <li class="result">
                {{ user.username }}
            </li>
        {% endfor %}
    </ul>

{% endif %}

<style>
    /* import la stylesheet base.css */
    @import url('base.css');

    #list{
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 55px;
    }

    .result{
        display: flex;
        height: 30px;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
        align-items: center;
        padding: 4px;
        padding-left: 5px;
        margin-bottom: 2px;
        transition: var(--background-color) 0.3s ease;
    }

    .result:hover{
        background-color: var(--background-color);
    }
    
</style>


