<!-- blog_app/tempaltes/blog_app/post.html -->
{% extends 'base.html' %}

{% load static %}

<head>
    {% load static %}
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href={% static "blog_app/post.css" %}>
    {% endblock stylesheet %}
</head>
<body>
    {% block index %}
    {% include 'nav.html' %}
        <div class="post-page">
            <h2>Create your own post</h2>
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" value="Publish post" id="post-page-btn">
            </form>
        </div>
    {% endblock index %}
</body>

{% load static %}

