<!-- blog_app/tempaltes/blog_app/posts.html -->

{% extends 'base.html' %}

<head>

    {% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "blog_app/posts.css" %}>
    {% endblock stylesheet %}

</head>

<body>

    {% block index %}
    {% if page_number <= 2 %}
        {% include 'top_page.html' %}
        {% include 'nav.html' %}
        
    
    <!-- posts -->
    
    

    <section class="display-posts">
        <div class="banner">

            {% if filter_by == 'other' %}
                <span class="sort-by">Result for :</span>
                <span class="sort-value">{{ search_text }}</span>
            {% else %}
                <span class="sort-by">Filter by :</span>
                {% if filter_by == 'all' %}
                <span class="sort-value">All posts</span>
                {% elif filter_by == 'username' %}
                <span class="sort-value">Pots of {{ username }}</span>
                {% elif filter_by == 'date' %}
                <span class="sort-value">Date, {{ date }}</span>
                {% elif filter_by == 'categorie' %}
                <span class="sort-value">Category, {{ categorie }}</span>
                {% elif filter_by == 'myPosts' %}
                <span class="sort-value">My Posts</span>
                {% elif filter_by == 'favorite' %}
                <span class="sort-value">Posts Favorited</span>
                {% elif filter_by == 'bookmark' %}
                <span class="sort-value">Posts Bookmarked</span>
                    {% if message %}
                        <div class="banner">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            
        </div>
    {% endif %}
    {% if page_number <= page_max %}

        <div class="posts new-posts"
            hx-get="/posts/{{ filter_by }}/{{ value }}/?page={{ page_number }}&first=False&current_page={{ page_number }}"
            hx-trigger="revealed"
            hx-swap="afterend">
            {% for post in posts %}
                <div class="post" >
                    
                    <div class="post-img img-zoom" 
                        style="background-image: url('{{ MEDIA_URL }}{{ post.image.url }}');"
                        onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                    </div>
                    <div class="post-description"
                        onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'">
                        <a href="{% url 'posts_filter' filter_by='categorie' value=post.categorie %}" class="post-categorie colored-text">
                            {{ post.categorie }}
                        </a>
                        <h2 class="bold-title">
                            {{ post.title }} 
                        </h2>
                        <hr>
                        <a href="{% url 'posts_filter' filter_by='date' value=post.date %}" class="date transition-btn">
                            {{ post.date }}
                        </a>
                        <span>/</span>
                        <a href="{% url 'posts_filter' filter_by='username' value=post.user_id.id %}" class="author transition-btn">
                            {{ post.user_id.username }}
                        </a>
                        
                        <div class="description-text">
                            {{ post.content|safe }}
                        </div>
                    </div>
                    <div class="last-row">
                        <div class="zone-icons icons boutons">
                            {% include "blog_app/favori_btn.html" %}
                            {% include "blog_app/bookmark_btn.html" %}
                        </div>
                        <div class="empty-col" onclick="location.href='{% url 'post_detail' pk=post.id user_id=post.user_id categorie=post.categorie %}'"></div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    {% endif %}
    
    
    {% if page_number <= 2 %}
        
    </section>

        <!-- Inf -->
    
        <!-- {{ posts }}
        <br>
        Has Previous: {{ posts.has_previous }}
        <br>
        Has Next: {{ posts.has_next }}
        <br>
        Current Page: {{ posts.number }}
        <br>
        Number of Pages: {{ posts.paginator.num_pages }}
        <hr> -->



        <!-- bouttons de navigations -->

        <!-- {% if posts.has_previous %}

            <a href="?page=1">&laquo First</a>
            <a href="?page={{ posts.previous_page_number }}">Previous</a>

        {% endif %}

        Page {{ posts.number }} of {{ posts.paginator.num_pages}}

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
            <a href="?page={{ posts.paginator.num_pages }}">Last &raquo</a>
        {% endif %} -->
        {% if page_max == 2 and posts|length != 4 %}
            <style>
                footer{
                    position: absolute;
                    bottom: 0;
                }
            </style>
            {% include 'footer.html' %}
        {% else %}
            {% include 'footer.html' %}
        {% endif %}
    {% endif %}
    {% endblock index %}


</body>


