/* blog_app/static/blog_app/about_us.css */

@import url('base.css');

/* Hero section */

#hero{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}
.hero-title{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

.hero-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* Content section */

#content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-text{
    width: 50%;
    text-align: center;
}

.content-text h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #333;
    margin-bottom: 40px;
}

.content-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.content-img img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

/* CTA section */

#cta{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.cta-title{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

#cta button{
    display: inline-block;
    background-color: white;
    color: #333;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: red 0.2s ease-in-out, color 0.2s ease-in-out;
}

.cta-btn:hover {
    background-color: #333;
    color: white;
}