/* blog_app/static/blog_app/base.css */


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fjalla+One&display=swap');

:root{
    --background-color: #729D39;
    --background-color-dark: #394a41;
    --transition-btn: .4s;
}

*{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-weight: 500;
}

body{
    margin: 0 auto;
}

.bold-title{
    line-height: 1.5px;
}

.transition-btn:hover{
    color: var(--background-color);
    transition: var(--transition-btn);
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

/* zoom quand souris passe sur l'image */

.blog-grid, .post{
    overflow: hidden;
}

.img-zoom{
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}
  
.img-zoom:hover{
    transform: scale(1.3);
}

/* top page */

section.top-page{
    width: 100%;
}

header.header{
    align-items: center;
    height: 50px;
}

/* landing-page */

.landing-page{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/spring-roll.jpg");
    background-position: center;
    background-size: cover;
}

.top-landing-page{
    display: flex;
    flex-direction: row;
}

.landing-page-title{
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top-landing-page img{
    height: 50px;
    width: 50px;
}

.landing-page-title,
.social-media{
    margin-left: 55px;
}

.social-media{
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: white;
}


/* nav */

nav.nav{
    position: sticky;
    width: 100%;
    top: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 2px 2px 5px #888888;
    z-index: 1;
}

nav .centered{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    margin-left: 15px;
}

/* sidebar */

#sidebar{
    border-right: 1px solid #111;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color-dark);
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar ul{
    list-style-type: none;
    margin-top: 100px;
    padding: 0;
}

#sidebar li{
    margin-bottom: 10px;
    padding: 10px 10px 10px 45px;
}

#sidebar li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* nav */

nav.nav .button-log-regis{
    margin-right: 15%;
}

nav.nav button{
    margin-right: 15%;
    border: none;
    background: none;
    cursor: pointer;
}

.menu button{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    cursor: pointer;
}

.links{
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-weight: 800;
}

.links li{
    cursor: pointer;
}

/* search */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.search-input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 16px;
    outline: none;
}

.search-input:focus{
    border: 2px solid #111;
}
    
.search-btn{
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: var(--background-color);
}

#container-search-recommandations{
    position: absolute;
    height: 0px;
    margin-left: 15px;
    bottom: 0;
    /* margin-top: 230px; */
}


/* footer */

footer{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color-dark);
    color: #fff;
}

footer a{
    color: #fff;
}




