/* blog_app/static/blog_app/post.css */

#write-page{
  margin-top: 10%;
  margin-bottom: 20px;
}

#id_write_title{
  width: fit-content;
}

#id_write_content{
  width: fit-content;
}

#id_categorie{
  width: fit-content;
}

#write-page{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 42%;
  padding: 1%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}
  
.post-page h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0%;
}

#write-page form {
  display: flex;
  flex-direction: column;
}

#write-page input[type="text"],
#write-page textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: yellowgreen;
}

#write-page textarea {
  height: auto;
  resize: none;
  min-height: 100px;
}

#write-page input[type="submit"] {
  background-color: #729D39;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

#write-page input[type="submit"]:hover {
  background-color: #81b32b;
}

.post-page a{
  cursor: pointer;
}
  