/* blog_app/static/blog_app/post.css */

#write-page{
  margin-top: 10%;
  margin-bottom: 20px;
}

#id_write_title{
  width: fit-content;
}

#id_write_content{
  width: fit-content;
}

#id_categorie{
  width: fit-content;
}

/* post-page */

.post-page .django-ckeditor-widget{
  width: 100%;
}

.post-page, .post-page #post-page-btn, .post-page .cke_reset{
  margin: 0 auto;
  text-align: center;
}

.post-page .cke_reset #cke_1_top{
  position: absolute;
  margin-left: 46%;
  background-color: transparent;
  border: none;
}

.post-page .cke_reset #cke_1_top #cke_1_toolbox{
  position: fixed;
  width: 100px;
  padding: 20px;
  border-left: 1px solid black;
}

.post-page .cke_reset .cke_contents{
  min-height: 400px;
}

.post-page .cke_reset #cke_1_bottom{
  visibility: hidden;
  display: none;
}

.post-page{
  padding: 3%;
}
  
.post-page h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0%;
}

.post-page form {
  display: flex;
  flex-direction: column;
}

.post-page input[type="text"]
/*.post-page textarea*/ {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: yellowgreen;
}

.post-page input[type="submit"] {
  background-color: #729D39;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
  width: fit-content;
}

.post-page input[type="submit"]:hover {
  background-color: #81b32b;
}

.post-page a{
  cursor: pointer;
}
  